 <html>
	<head>
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon_io_iwil/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io_iwil/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io_iwil/favicon-16x16.png">
		<link rel="manifest" href="/favicon_io_iwil/site.webmanifest">
		<title>IWIL</title>
		<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;800&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
		
		<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/search/index.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/search/show.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/watch/index.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/watch/show.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/watch/new.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/auth.css" rel="stylesheet" type="text/css">
		
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>
		<div id="navOptionsDropdown">
			<div id="navSearchBarDropdown">
				<form action="/search" method="GET">
					<input type="text" placeholder="search for a movie title..." name="search" required>
					<button type="submit">Search</button>
				</form>
			</div>
			<div id="profileOptionsDropdown">
				<% if(!currentUser) { %> <!-- Checks if the res.locals.currentUser has been defined -->
					<a href="/login"><i class="fas fa-sign-in-alt"></i><span>Log In</span></a>
					<a href="/register"><i class="fas fa-user-plus"></i><span>Sign Up</span></a>
				<% } else { %>
					<h7>Signed In As: <%= currentUser.username %></h7>
					<a href="/watch"><i class="fas fa-list"></i><span>Lists</span></a>
					<a href="/logout"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></a>
				<% } %>
			</div>
		</div>
		<div id="navContainer">
			<nav>
				<div id="navHeader">
					<a href="/"><i class="fas fa-film"></i> IWIL</a>
				</div>
				
				<div id="navOptions">
					<div id="searchButton"><i class="fas fa-search"></i></div>
					<div id="menuButton"><i class="fas fa-ellipsis-v"></i></div>
					<div id="navSearchBar">
						<form action="/search" method="GET">
							<input type="text" placeholder="search for a movie title..." name="search" required>
							<button type="submit"><i class="fas fa-search"></i></button>
						</form>
					</div>
					<div id="profileOptions">
						<% if(!currentUser) { %> <!-- Checks if the res.locals.currentUser has been defined -->
							<a href="/login"><i class="fas fa-sign-in-alt"></i><span>Log In</span></a>
							<a href="/register"><i class="fas fa-user-plus"></i><span>Sign Up</span></a>
						<% } else { %>
							<h7>Signed In As: <%= currentUser.username %></h7>
							<a href="/watch"><i class="fas fa-list"></i><span>Lists</span></a>
							<a href="/logout"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></a>
						<% } %>
					</div>
				</div>
			</nav>
		</div>
		<% if(success && success.length > 0) {%>
			<div id="popupAlert" class="success"><h1><%=success%></h1></div>
		<%}%>
		<% if(error && error.length > 0) {%>
			<div id="popupAlert" class="error"><h1><%=error%></h1></div>
		<%}%>