<%- include("../partials/header") %>

<div id="newWatchlistSection">
	<h1>Add New Watchlist</h1>
	<div id="newWatchlistContainer">
		<div id="formContainer">
			<form action="/watch" method="POST" id="newWLForm">
				<input type="text" name="name" placeholder="name" required>
				<textarea name="description" placeholder="description" form="newWLForm"></textarea>
				<button id="newWatchlistButton">Add</button>
			</form>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>