<html>
	<head>
		<title>IWIL</title>
		<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;800&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
		
		<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
		
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>
		<div id="navContainer">
			<nav>
				<div id="navHeader">
					<a href="/"><i class="fas fa-film"></i> I.W.I.L.</a>
				</div>
				<div id="navOptions">
					<div id="profileOptions">
						<% if(!currentUser) { %> <!-- Checks if the res.locals.currentUser has been defined -->
							<a href="/login"><i class="fas fa-sign-in-alt"></i><span>Login</span></a>
							<a href="/register"><i class="fas fa-user-plus"></i><span>Sign Up</span></a>
						<% } else { %>
							<h7>Signed In As: <%= currentUser.username %></h7>
							<a href="/watch"><i class="fas fa-list"></i>Lists</a>
							<a href="/logout"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
						<% } %>
					</div>
				</div>
			</nav>
		</div>

		<% if(success && success.length > 0) {%>
			<div id="popupAlert" class="success"><h1><%=success%></h1></div>
		<%}%>
		<% if(error && error.length > 0) {%>>
			<div id="popupAlert" class="error"><h1><%=error%></h1></div>
		<%}%>
		
		<div id="homePageBody">
			<div id="mainSearchBar">
				<div id="homePageTitle">
					<h1><i class="fas fa-film"></i> IWIL</h1>
					<p>
						(I'll Watch It Later)
					</p>
				</div>
				<h3>
					The place for all your movie searching needs
				</h3>
				<form action="/search" method="GET">
					<input id="textInput" type="text" placeholder="search for a movie title..." name="search" required>
					<button id="submitButton" type="submit"><i class="fas fa-search"></i> Search</button>
				</form>
			</div>
		</div>

<%- include("partials/footer") %>