<html>
	<head>
		<title>IWIL</title>
		<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;800&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
		
		<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="navContainer">
			<nav>
				<div id="navHeader">
					<a href="/"><i class="fas fa-film"></i> I.W.I.L.</a>
				</div>
				<div id="navOptions">
					<div id="profileOptions">
						<a href="/watch"><i class="fas fa-list"></i> My List</a>
					</div>
				</div>
			</nav>
		</div>

		<div id="homePageBody">
			<div id="mainSearchBar">
				<div id="homePageTitle">
					<h1><i class="fas fa-film"></i> IWIL</h1>
					<p>
						(I'll Watch It Later)
					</p>
				</div>
				<h3>
					The place for all your movie searching needs
				</h3>
				<form action="/search" method="GET">
					<input id="textInput" type="text" placeholder="search for a movie title..." name="search" required>
					<button id="submitButton" type="submit"><i class="fas fa-search"></i> Search</button>
				</form>
			</div>
		</div>

<%- include("partials/footer") %>