/* Default Style at width <=768 */

/* login.ejs / register.ejs */

#userSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 85%;
}

#userSection h1 {
	background: #010400C0; /* RICH BLACK  with alpha. `C0` == 0.75 */
	color: #EAF2EF; /* AZURE (X11/web color) */
	font-weight: bold;
}

#userContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 90%;
	
	
	background: #010400C0; /* RICH BLACK  with alpha. `C0` == 0.75 */
	color: #EAF2EF; /* AZURE (X11/web color) */
}

#userFormContainer {
	width: 100%;
}

#userFormContainer form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	margin: 0;
}

#userFormContainer form input {
	width: 80%;
	height: 40px;
	
	border: 1px solid #363946; /* GUNMETAL */
	border-radius: 5px;
	
	outline: none;
	box-shadow: none;
	
	font-size: 20px;
	font-family: 'Assistant', sans-serif;
}


#authButton {
	width: 80%;
	height: 40px;
	margin-top: 10px;
	/* border: 1px solid orange; */
	border-radius: 5px;
	/* background: #363946; /* GUNMETAL */ */
	color: #EAF2EF; /* AZURE (X11/web color) */
	
	text-decoration: none;
	font-size: 20px;
}

#authButton:hover {
	border: 1px solid #EAF2EF; /* AZURE (X11/web color) */
	font-size: 22px;
	transition: font-size 0.1s linear 0s;
}

@media only screen and (max-height: 420px) {
	#userSection {
		height: 80%;
	}
}

@media only screen and (min-width: 1024px) {
	#userFormContainer form input {
		width: 60%;
		height: 40px;

		border: 1px solid #363946; /* GUNMETAL */
		border-radius: 5px;

		outline: none;
		box-shadow: none;

		font-size: 20px;
		font-family: 'Assistant', sans-serif;
	}


	#authButton {
		width: 60%;
		height: 40px;
		margin-top: 10px;
		/* border: 1px solid orange; */
		border-radius: 5px;
		/* background: #363946; /* GUNMETAL */ */
		color: #EAF2EF; /* AZURE (X11/web color) */

		text-decoration: none;
		font-size: 20px;
	}
}

@media (min-width: 1100px) and (min-height: 768px) {
	
	#userSection {
		height: 80%;
	}
	
	#userContainer {
		width: 50%;
		height: 50%;
		margin-top: 30px;
		border-radius: 5px;
	}
	#userFormContainer form input {
		width: 60%;
		height: 40px;
	}


	#authButton {
		width: 25%;
	}
}