/* Default Style at width <=768 */

/* General/Shared Components */

.button {
	border: 1px solid #8B8C89; /* MIDDLE GREY */
	border-radius: 5px;
	padding: 5px;
	
	text-decoration: none;
	
	font-size: 20px;
}

a {
	color: #EAF2EF; /* AZURE (X11/web color) */
	text-decoration: none;
}

button span, button a span {
	margin-left: 3px;
}

button {
	background: none;
	color: #EAF2EF; /* AZURE (X11/web color) */
	cursor: pointer;
}

button a {
	width: 100%;
	height: 100%;
} /* Need this for all non nav anchor elements that are used as buttons */

.button:focus, button:focus, a:focus {
  outline: none;
  box-shadow: none;
}

html {
	background: #010400; /* RICH BLACK */
}

html, body {
	margin: 0;
}

body {
	background-image: url("https://images.unsplash.com/photo-1560169897-fc0cdbdfa4d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80&fbclid=IwAR0l_QDkn4kOxkSqCRB4b2KbDCh_Vqevz24ANH6eB-0sfmwKj7ZrnP6Dh-I");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 150% 100%;

	font-family: 'Assistant', sans-serif;
}
	
#navContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 10%;
}

nav {
	display: flex;
	justify-content: space-between;
	
	width: 100%;
	height: 100%;
	
	
	background: #010400; /* RICH BLACK */
	color: #EAF2EF; /* AZURE (X11/web color) */
	
	font-size: 20px;
}

#navHeader a {
	font-weight: bold;
	font-family: 'Rubik', sans-serif;
}

#navHeader, #navOptions {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#navHeader {
	width: 100px;
	padding-left: 20px;
}

#searchButton {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	height: 100%;
	padding-right: 20px;
	font-size: 30px;
}

#menuButton {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	height: 100%;
	padding-right: 20px;
	
	font-size: 30px;
}

#navSearchBar {
	display: none;
}

#profileOptions {
	display: none;
}

#containerHeader {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 10%;
}

#containerHeader h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	margin: 0;

	font-size: 25px;
}

#navOptionsDropdown {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	
	z-index: 1;
}

#navSearchBarDropdown {
	display: none;
	width: 100%;
	height: 100px;
	
	border-bottom: 1px solid #8B8C89; /* MIDDLE GREY */
	
	background: #363946;  /* GUNMETAL */
	color: #EAF2EF; /* AZURE (X11/web color) */
	
	position: fixed;
	top: 10%;
	left: 0;
}

#navSearchBarDropdown form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	
	font-size: 18px;
}

#navSearchBarDropdown form input {
	width: 100%;
	height: 50%;
	border-radius: 0;
	font-size: 18px;
}

#navSearchBarDropdown form button {
	width: 100%;
	height: 50%;
	
	border: 1px solid #8B8C89; /* MIDDLE GREY */
	border-bottom: none;
	font-size: 18px;
}


#profileOptionsDropdown {
	display: none; /* Hidden by default */
	flex-direction: column;
	align-items: center;
	width: 100%;	
	font-size: 20px;
	
	border-bottom: 1px solid #8B8C89; /* MIDDLE GREY */
	
	background: #363946;  /* GUNMETAL */
	color: #EAF2EF; /* AZURE (X11/web color) */
	
	position: fixed;
	top: 10%;
	left: 0;
}

#profileOptionsDropdown a, #profileOptionsDropdown h7 {
	width: 100%;
	border-top: 1px solid #8B8C89; /* MIDDLE GREY */
	padding: 10px 0;
	text-align: center;
}

#profileOptionsDropdown a span {
	margin-left: 5px;
}

#addToWatchlist {
	display: none; /* Hidden by default */
	flex-direction: column;
	align-items: center;
	
	width: 100%; 
	height:	85%; 
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */	
	left: 0;
	top: 10%;
	
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */	
}

#addToWatchlist-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	height: 100%;
	
	color: #EAF2EF; /* AZURE (X11/web color) */
}

#addToWatchlist-content h1, #close {
	width: 100%;
	margin: 0;
	padding: 5px;
	border-radius: 10px;
	background: #010400; /* RICH BLACK */
	text-align: center;
}

#close {
	width: 100%;
	
}

#close i {
	width: 90%;
	border: 1px solid #8B8C89; /* MIDDLE GREY */
	border-radius: 5px;
}

.watchlist-content .popUp-style {
	border: 1px solid #8B8C89; /* MIDDLE GREY */
	border-radius: 10px;
	background: #010400; /* RICH BLACK  with alpha. `C0` == 0.75 */
	color: #EAF2EF; /* AZURE (X11/web color) */
}

#close {
	font-size: 30px;
}

#addList .popUp-iconContainer {
	opacity: 0.75;
	transition: opacity 0.2s linear 0s;
	
}

#addList .popUp-iconContainer:hover {
	opacity: 1;
}

.watchlist-content button {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	
	font-size: 25px;
}

.watchlist-selection-title h7 button{
	width: 100%;
	height: 100%;
	font-size: 20px;
	text-align: center;
	
	word-break: break-word;
}

#popupAlert {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5%;
	
	position: absolute;
	top: 10%;
	left: 0;
	
	z-index: 1;
}

#popupAlert h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	
	margin: 0;
	color: #EAF2EF; /* AZURE (X11/web color) */
	font-size: 18px;
}

.success {
	background: #3DDC97A0; /*MEDIUM AQUAMARINE W/ OPACITY */
}

.error {
	background: #FF495CA0; /* SIZZLING RED W/ OPACITY */
}

#footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background: #010400; /* RICH BLACK */
	color: #EAF2EF; /* AZURE (X11/web color) */
}

#footer p {
	margin: 0;
}

/* Homw Page Components */

#homePageBody {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85%;
}

#mainSearchBar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100%;	
	
	color: #EAF2EF; /* AZURE (X11/web color) */
}

#homePageTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 90%;
	padding: 0 10px;
	border-radius: 15px;
	
	font-family: 'Rubik', sans-serif;
	background: #010400C0; /* RICH BLACK  with alpha. `C0` == 0.75 */
}

#mainSearchBar h1 {
	margin: 0;
	margin-top: 20px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 80px;	
}

#mainSearchBar p {
	margin-top: 0;
	font-size: 25px;
	font-weight: 800;
	color: #8B8C89; /* MIDDLE GREY */
}

#mainSearchBar h3 {
	width: 90%;
	margin-bottom: 50px;
	border-radius: 5px;
	color: #EAF2EF; /* AZURE (X11/web color) */
	background: #010400C0; /* RICH BLACK  with alpha. `C0` == 0.75 */
	
	font-size: 18px;
	text-align: center;
}

#mainSearchBar form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0;
}

#textInput {
	width: 90%;
	height: 40px;
	
	margin-bottom: 5px;
	border: 1px solid #010400; /* RICH BLACK */
	border-radius: 5px;
	padding-left: 10px;
	
	font-size: 20px;
}

#submitButton {
	width: 90%;
	height: 40px;
	border: 0;
	border-radius: 5px;
	
	background: #010400; /* RICH BLACK */
	color: #EAF2EF; /* AZURE (X11/web color) */
	
	text-decoration: none;
	font-size: 20px;
}

@media only screen and (max-height: 420px) {
	
	/* General/Shared Components */
	
	body {
		background-size: cover;
	}
	
	#navContainer {
		height: 10%;
	}
	
	#searchButton {
		font-size: 24px;
	}

	#menuButton {
		font-size: 24px;
	}
	
	#addToWatchlist {
		height:	80%; 
	}
	
	#footer {
		height: 10%;
	}

	/* Homw Page Components */

	#homePageBody {
		height: 80%;
	}
	
	#mainSearchBar {
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 90%;
		color: #EAF2EF; /* AZURE (X11/web color) */
	}
	
	#homePageTitle {
		margin-bottom: 10px;
	}
	
	#mainSearchBar h1 {
		margin: 0;
		padding-left: 5px;
		font-weight: bold;
		font-size: 80px;	
	}

	#mainSearchBar p {
		margin-top: 0;
		font-size: 15px;
		font-weight: 800;
		color: #8B8C89; /* MIDDLE GREY */
	}
	
	#mainSearchBar h3 {
		display: none;
		/* margin-bottom: 20px; */
	}
} /* widescreen mobile orientation */

@media only screen and (min-width: 768px) {
	
	/* General/Shared Components */
	
	nav {
		font-size: 30px;
	}
	
	#navHeader {
		width: 150px;
	}
	
	#profileOptions {
		font-size: 24px;
	}

	#profileOptions h7 {
		margin-right: 5px;
	}

	#profileOptions a {
		width: 150px;
	}

	#profileOptions i {
		margin-right: 8px;
		font-size: 20px;
	}
	
	/* Home Page Components */
	
	#mainSearchBar h1 {
		font-size: 125px;	
	}
	
	#mainSearchBar h3 {
		font-size: 28px;
	}

	#textInput {
		height: 60px;
		font-size: 28px;
	}

	#submitButton {
		height: 60px;
		font-size: 28px;
	}
}

@media only screen and (min-width: 1100px) {
	
	/* General/Shared Components */
	
	body {
		background-size: cover; /* Resize the background image to cover the entire container */
	}
	
	#navContainer {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 10%;
	}
	
	#searchButton {
		display: none;
	}

	#menuButton {
		display: none;
	}

	#navSearchBar {
		display: flex;
		align-items: center;
		height: 100%;
		margin-right: 20px;
	}
	
	#navSearchBar form {
		display: flex;
		flex-direction: row;
		height: 60%;
		margin: 0;
		border: 1px solid #EAF2EF; /* AZURE (X11/web color) */

		font-size: 18px;
	}

	#navSearchBar form input {
		width: 300px;
		height: 100%;
		border: none;
		border-radius: 0;
		background: none;
		color: #EAF2EF; /* AZURE (X11/web color) */
		font-size: 18px;
		outline: none;
	}

	#navSearchBar form button {
		height: 100%;
		border: none;
		font-size: 18px;
	}

	#profileOptions {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		/* width: 500px; */
		height: 100%;
		padding-right: 20px;

		font-size: 16px;
	}

	#profileOptions h7 {
		margin-right: 5px;
	}

	#profileOptions a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
	}

	#profileOptions i {
		margin-right: 4px;
		padding-top: 2px;
		font-size: 14px;
	}
	
	#footer {
		height: 10%;
	}
	
	#close i {
		width: 15%;
		border: 1px solid #8B8C89; /* MIDDLE GREY */
		border-radius: 5px;
	}
	
	/* Homw Page Components */
	
	#homePageBody {
		height: 80%;
	}
	
	#homePageTitle {
		width: 60%;
	}
	
	#mainSearchBar h1 {
		font-size: 175px;	
	}
	
	#mainSearchBar h3 {
		width: unset;
		padding: 0 10px;
	}
	
	#mainSearchBar form{
		display: flex;
		flex-direction: row;
		
		width: 60%;
	}

	#textInput {
		width: 75%;
		height: 40px;
		margin-bottom: 0;
		margin-right: 10px;
		font-size: 20px;
	}

	#submitButton {
		width: 25%;
		height: 40px;
		font-size: 20px;
	}
}