/* Default Style at 1920x1080 */

/***********/
/* SEARCH */
/***********/

/* index.ejs */

#resultsContainer {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	width: 100%;
	height: 80%;
}

#resultsContainer h1 {
	margin-bottom: 5px;
	padding: 0 10px;
	border-radius: 5px;
	background: #010400C0; /* RICH BLACK  with alpha. `C0` == 0.75 */
	color: #EAF2EF; /* AZURE (X11/web color) */
}

#resultsBody {
	display: flex;
	width: 80%;
	height: 85%;
}

.scrollContainer {
	height: 250px;
	width: 60px;
}

#scrollLeft, #scrollRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	height: 210px;
	margin: 10px 0;
	padding: 0 5px;
	
	border-radius: 5px;
	
	background: #010400; /* RICH BLACK */
	color: #EAF2EF; /* AZURE (X11/web color) */
	
	font-size: 40px;
	text-decoration: none;
	
}

.scrollButtonfade {
  	opacity: 0.25;
	transition: opacity 0.2s linear 0s;
}

#scrollLeft:hover, #scrollRight:hover {
	opacity: 0.75;
}

#resultsContent {
	display: flex;
	
	width: 100%;
	height: 100%;
	
	overflow-x: auto;
	overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#resultsContent::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
#resultsContent {
  -ms-overflow-style: none;
}

.selection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	height: 220px;
	border: 0;
	border-radius: 5px;
	/* padding-top: 20px; */
	
	transition: 0.1s linear 0s;
}

.selection-hasHover:hover {
	width: 180px;
	height: 98%;
	
	background: #010400C0; /* RICH BLACK  with alpha. `C0` == 0.75 */
	/* background: #363946C0;  */
	/* GUNMETAL with alpha. `C0` == 0.75 */
	color: #EAF2EF; /* AZURE (X11/web color) */
}

.fade {
  opacity: 1;
}

.selection:first-child {
	padding-left: 0;
}

.selection:last-child {
	padding-right: 0;
}

.selection img {
	max-width: 100%;
	max-height: 100%;
	
	border-radius: 15px;
}

.selection-hasHover:hover img {
	border-radius: 5px;
	transition: 0.2s linear 0s;
}

.posterUnavailable {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 180px;
	height: 210px;
	
	border-radius: 15px;
	
	background: #363946;  /* GUNMETAL */
	color: #EAF2EF; /* AZURE (X11/web color) */
	
	font-size: 12px;
}

.posterUnavailable i {
	font-size: 50px;
}

.selection-hasHover:hover .posterUnavailable {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: 0.2s linear 0s;
}

.selection .imgContainer {
	display: flex;
	justify-content: center;
	width: 180px;
	height: 210px;
	padding-top: 10px;
	
}

.selection-hasHover:hover .imgContainer {
	padding-top: 0;
	/* width: 200px; */
	height: 270px;

	transition: 0.2s linear 0s;
	
}

.selection-body {
	display: none;
	height: 60%;
	transition: 0.5s linear 0s;
}

.selection-hasHover:hover .selection-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.selection-info {
	width: 85%;
}

.selection-title {
	margin-top: 5px;
	margin-bottom: 0;
	
	font-size: 20px;
	text-align: center;
}

.selection-info p {
	font-size: 15px;
}

.selection-options {
	display: none;
	flex-direction: column;
	width: 85%;
	height: 35%;
	
	visibility: 0;
	
	transition: 0.5s linear 0s;
}

.selection-hasHover:hover .selection-options {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	visibility: 1;
}

.selection-options button {
	width: 90%;
	height: 50px;
	margin-bottom: 5px;
	
	color: #EAF2EF; /* AZURE (X11/web color) */
	font-size: 15px;
}

.selection-options button:hover {
	border: 1px solid #EAF2EF; /* AZURE (X11/web color) */
	font-size: 18px;
	transition: font-size 0.1s linear 0s;
}

.selection-options button:hover a i, .selection-options button:hover a span {
	font-size: 18px;
	transition: font-size 0.1s linear 0s;
}

#notFound {
	display: flex;
	justify-content: center;
	
	width: 100%;
}

#notFound h1 {
	display: flex;
	align-items: center;
	
	height: 15%;
}

@media only screen and (max-width: 1540px), only screen and (max-height: 920px){
	
	#scrollLeft, #scrollRight {		
		height: 200px;
		margin: 20px 0;
		font-size: 60px;
	}

	.selection {
		height: 300px;
	}
	
	.selection-hasHover:hover {
		width: 180px;
	}
	
	.selection .imgContainer {
		width: 200px;
		height: 200px;
		padding-top: 20px;	
	}

	.selection-hasHover:hover .imgContainer {
		height: 260px;

		transition: 0.2s linear 0s;
	}

	.posterUnavailable {
		width: 200px;
		height: 200px;
		
		font-size: 18px;
	}
	
	.selection-hasHover:hover .posterUnavailable {
		width: 100%;
	}

	.selection-title {
		font-size: 16px;
	}
	
	.selection-body {
		display: none;
		height: 50%;
		transition: 0.5s linear 0s;
	}
	
	.selection-info p {
		font-size: 14px;
	}

	.selection-options button, .selection-options a {
		height: 35px;
		font-size: 12px;
	}
	
	.selection-options button:hover {
		border: 1px solid #EAF2EF; /* AZURE (X11/web color) */
		font-size: 15px;
		transition: font-size 0.1s linear 0s;
	}
	
	.selection-options button:hover a i, .selection-options button:hover a span {
		font-size: 15px;
		transition: font-size 0.1s linear 0s;
	}
}

@media only screen and (max-width: 1240px){
	#scrollLeft, #scrollRight {		
		height: 220px;
		margin: 20px 0;
		font-size: 60px;
	}
	
	.selection {
		height: 280px;
	}
	
	.selection-hasHover:hover {
		width: 180px;
	}
	
	.selection .imgContainer {
		width: 180px;
		height: 220px;
		padding-top: 20px;	
	}

	.selection-hasHover:hover .imgContainer {
		height: 260px;

		transition: 0.2s linear 0s;
	}
	
	.posterUnavailable {
		width: 180px;
		height: 220px;
		
		font-size: 18px;
	}
	
	.selection-title {
		/* margin-bottom: 3px; */
		font-size: 15px;
	}
	
	.selection-info p {
		font-size: 12px;
	}
}

@media only screen and (max-width: 440px),  only screen and (max-height: 440px){
	#resultsContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 70%;
	}
	
	#resultsContainer h1 {
		margin: 0;
		padding: 0;
		border-radius: 0;
		
		font-size: 15px;
	}

	#resultsBody {
		display: flex;
		width: 100%;
		height: 90%;
	}

	.scrollContainer {
		display: none;
	}

	#resultsContent {
		display: flex;

		width: 100%;
		height: 100%;

		overflow-x: auto;
		overflow-y: hidden;
		
		scroll-snap-type: x mandatory;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	#resultsContent::-webkit-scrollbar {
	  display: none;
	}

	/* Hide scrollbar for IE and Edge */
	#resultsContent {
	  -ms-overflow-style: none;
	}

	.selection {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		height: 100%;
		border: 0;
		border-radius: 0;

		transition: 0.1s linear 0s;
		
		scroll-snap-align: start;
	}
	
	.selection-hasHover:hover {
		width: 411px;
		height: 100%;

		background: #010400C0; /* RICH BLACK  with alpha. `C0` == 0.75 */
		/* background: #363946C0;  */
		/* GUNMETAL with alpha. `C0` == 0.75 */
		color: #EAF2EF; /* AZURE (X11/web color) */
	}
	
	.selection .imgContainer {
		display: flex;
		justify-content: center;
		width: 411px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
		height: 100%;
		padding: 10px 0;
	}
	
	.selection-hasHover:hover .imgContainer {
		height: 50%;
	}
	
	.selection img {
		max-width: 100%;
		max-height: 100%;

		border-radius: 15px;
	}

	.posterUnavailable {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 85%;
		height: 100%;

		border-radius: 15px;

		background: #363946;  /* GUNMETAL */
		color: #EAF2EF; /* AZURE (X11/web color) */

		font-size: 12px;
	}

	.posterUnavailable i {
		font-size: 50px;
	}

	.selection-body {
		display: none;
		transition: 0.5s linear 0s;
	}

	.selection-info {
		width: 85%;
	}

	.selection-title {
		margin-top: 5px;
		margin-bottom: 0;

		font-size: 20px;
		text-align: center;
	}

	.selection-info p {
		font-size: 15px;
	}

	.selection-options {
		display: none;
		flex-direction: column;
		width: 85%;
		height: 35%;

		visibility: 0;

		transition: 0.5s linear 0s;
	}

	.selection-options button {
		width: 90%;
		height: 50px;
		margin-bottom: 5px;

		color: #EAF2EF; /* AZURE (X11/web color) */
		font-size: 15px;
	}

	.selection-options button:hover {
		border: 1px solid #EAF2EF; /* AZURE (X11/web color) */
		font-size: 18px;
		transition: font-size 0.1s linear 0s;
	}

	.selection-options button a i, .selection-options button a span {
		font-size: 15px;
	}
	
	.selection-options button:hover a i, .selection-options button:hover a span {
		font-size: 18px;
		transition: font-size 0.1s linear 0s;
	}

	#notFound {
		display: flex;
		justify-content: center;

		width: 100%;
	}

	#notFound h1 {
		display: flex;
		align-items: center;

		height: 15%;
	}

}

@media only screen and (max-width: 400px) {
	.selection-hasHover:hover {
		width: 375px;
		height: 100%;

		background: #010400C0; /* RICH BLACK  with alpha. `C0` == 0.75 */
		/* background: #363946C0;  */
		/* GUNMETAL with alpha. `C0` == 0.75 */
		color: #EAF2EF; /* AZURE (X11/web color) */
	}
	
	.selection .imgContainer {
		width: 375px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
	}
}