/* Default Style at width <=768 */

/***********/
/* SEARCH */
/***********/

/* index.ejs */

#resultsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85%;
}

#resultsContainer h1 {
	margin: 0;
	padding: 0;
	border-radius: 0;

	background: #010400C0; /* RICH BLACK  with alpha. `C0` == 0.75 */
	color: #EAF2EF; /* AZURE (X11/web color) */
	font-size: 18px;
}

#resultsBody {
	display: flex;
	width: 100%;
	height: 90%;
}

.scrollContainer {
	/* display: block; */
	height: 100%;
	width: 10%;

	background: #010400; /* RICH BLACK */
	opacity: 0.25;
}

#scrollLeft, #scrollRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
	margin: 0;
	padding: 0 5px;
	background: #010400; /* RICH BLACK */
	color: #EAF2EF; /* AZURE (X11/web color) */

	font-size: 25px;
	text-decoration: none;
}

#resultsContent {
	display: flex;

	width: 80%;
	height: 100%;

	overflow-x: auto;
	overflow-y: hidden;

	scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#resultsContent::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
#resultsContent {
  -ms-overflow-style: none;
}

.selection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 0;

	transition: 0.1s linear 0s;

	scroll-snap-align: start;
}

.selection-hasHover:hover {
	width: 325px;
	height: 100%;

	background: #010400C0; /* RICH BLACK  with alpha. `C0` == 0.75 */
	/* background: #363946C0;  */
	/* GUNMETAL with alpha. `C0` == 0.75 */
	color: #EAF2EF; /* AZURE (X11/web color) */
}

.selection .imgContainer {
	display: flex;
	justify-content: center;
	width: 325px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
	height: 90%;
	padding-top: 10px;
}

.selection-hasHover:hover .imgContainer {
	height: 40%;
	
	transition: 0.2s linear 0s;
}

.selection img {
	max-width: 100%;
	max-height: 100%;

	border-radius: 15px;
}

.selection-body {
	display: none;
	height: 60%;
	transition: 0.5s linear 0s;
}

.selection-hasHover:hover .selection-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.selection-info {
	width: 65%;
}

.selection-title {
	margin-top: 5px;
	margin-bottom: 0;
	
	font-size: 20px;
	text-align: center;
}

.selection-info p {
	font-size: 15px;
	text-align: center;
}

.selection-options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 85%;
	height: 35%;

	visibility: 0;

	transition: 0.5s linear 0s;
}

.selection-options button {
	width: 100%;
	height: 50px;
	margin-bottom: 5px;

	color: #EAF2EF; /* AZURE (X11/web color) */
	font-size: 15px;
}

.selection-options button a i, .selection-options button a span {
	font-size: 15px;
}

@media only screen and (min-width: 320px) {

	.selection-hasHover:hover {
		width: 260px;
	}

	.selection .imgContainer {
		width: 260px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
	}
	
	.selection-hasHover:hover .imgContainer {
		height: 30%;

		transition: 0.2s linear 0s;
	}
	
	.selection-body {
		height: 70%;
	}
}

@media only screen and (min-width: 360px) {

	.selection-hasHover:hover {
		width: 290px;
	}

	.selection .imgContainer {
		width: 290px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
	}
}

@media only screen and (min-width: 375px) {

	.selection-hasHover:hover {
		width: 300px;
	}

	.selection .imgContainer {
		width: 300px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
	}
}

@media only screen and (min-width: 411px) {

	.selection-hasHover:hover {
		width: 331px;
	}

	.selection .imgContainer {
		width: 331px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
	}
}

@media only screen and (min-width: 414px) {

	.selection-hasHover:hover {
		width: 334px;
	}

	.selection .imgContainer {
		width: 334px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
	}
	
	.selection-hasHover:hover .imgContainer {
		height: 40%;

		transition: 0.2s linear 0s;
	}
	
	.selection-body {
		height: 60%;
	}
}

@media only screen and (max-height: 420px) {
	#resultsContainer {
		height: 80%;
	}
	
	.selection {
		display: flex;
		flex-direction: row;
		
		margin: 0 10px;
	}
	
	.selection .imgContainer {
		width: 180px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
	}
	
	.selection-hasHover:hover .imgContainer {
		display: none;

		transition: 0.2s linear 0s;
	}

	.selection-body {
		height: 100%;
		width: 180px;
	}
	
	.selection-info {
		width: 100%;
	}

	.selection-title {
		margin-top: 5px;
		margin-bottom: 0;

		font-size: 15px;
		text-align: center;
	}

	.selection-info p {
		font-size: 12px;
		text-align: center;
	}
	
	.selection-options {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 85%;
		height: 35%;

		visibility: 0;

		transition: 0.5s linear 0s;
	}
	
	.selection-options button {
		width: 100%;
		height: 30px;
		margin-bottom: 5px;

		color: #EAF2EF; /* AZURE (X11/web color) */
		font-size: 15px;
	}
}

@media (min-width: 768px) and (min-height: 1024px) {
	#resultsContainer h1 {
		font-size: 28px;
	}

	#resultsContent {
		display: flex;
		align-items: center;
	}
	
	.selection {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 60%;
		margin: 0 10px;
		
		border-radius: 5px;
	}
	
	.selection-hasHover:hover {
		height: 60%;
	}
	
	.selection .imgContainer {
		width: 250px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
	}
	
	.selection-hasHover:hover .imgContainer {
		display: none;

		transition: 0.2s linear 0s;
	}

	.selection-body {
		height: 100%;
		width: 250px;
	}
	
	.selection-info {
		width: 100%;
	}

	.selection-title {
		font-size: 28px;
	}

	.selection-info p {
		font-size: 20px;
	}
	
	
	.selection-options button {
		height: 80px;
		font-size: 24px;
	}
	
	.selection-options button a i, .selection-options button a span {
		font-size: 24px;
	}

}

@media (min-width: 1024px) and (min-height: 768px) {
	#resultsContainer h1 {
		font-size: 28px;
	}

	#resultsContent {
		display: flex;
		align-items: center;
	}
	
	.selection {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 60%;
		margin: 0 10px;
		
		border-radius: 5px;
	}
	
	.selection-hasHover:hover {
		height: 60%;
	}
	
	.selection .imgContainer {
		width: 300px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
	}
	
	.selection-hasHover:hover .imgContainer {
		display: none;

		transition: 0.2s linear 0s;
	}
	
	.selection-body {
		height: 100%;
		width: 300px;
	}
	
	.selection-info {
		width: 100%;
	}

	.selection-title {
		font-size: 28px;
	}

	.selection-info p {
		font-size: 20px;
	}
	
	
	.selection-options button {
		height: 80px;
		font-size: 24px;
	}
	
	.selection-options button a i, .selection-options button a span {
		font-size: 24px;
	}
}

@media (min-width: 1100px) and (min-height: 768px) {
	#resultsContainer {
		height: 80%;
	}
	
	.scrollContainer {
		width: 60px;
	}

	#scrollLeft, #scrollRight {
		font-size: 40px;
	}

	#scrollLeft:hover, #scrollRight:hover {
		opacity: 1;
	}
	
	#resultsContent {
		width: 100%;
		scroll-snap-type: none;
	}
	
	.selection {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 300px;
		height: 60%;
		margin: 0 10px;
		
		border-radius: 5px;
		
	}
	
	.selection-hasHover:hover {
		width: 300px;
		height: 90%;
		background: #010400C0; /* RICH BLACK  with alpha. `C0` == 0.75 */
		/* background: #363946C0;  */
		/* GUNMETAL with alpha. `C0` == 0.75 */
		color: #EAF2EF; /* AZURE (X11/web color) */
	}
	
	.selection .imgContainer {
		width: 300px; /* when scrolling along x axis inside a container, scrolled items need a width in pixels not percents */
	}
	
	.selection-hasHover:hover .imgContainer {
		display: flex;
		transition: 0.2s linear 0s;	
	}
	
	.selection-body {
		overflow-y: hidden;
	}
	
	.selection-title {
		font-size: 24px;
	}

	.selection-info p {
		font-size: 18px;
	}
	
	
	.selection-options button {
		height: 40px;
		font-size: 18px;
	}
	
	.selection-options button a i, .selection-options button a span {
		font-size: 18px;
	}
	
	.selection-options button:hover {
		border: 1px solid #EAF2EF; /* AZURE (X11/web color) */
	}
}