/* Default Style at width <=768 */

/***********/
/* SEARCH */
/***********/

/* show.ejs */

#detailsSection {
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 85%;
}

#detailsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100%;
	border-radius: 0;
	
	background: #010400C0; /* RICH BLACK w/ 75% opacity */
	color: #EAF2EF; /* AZURE (X11/web color) */
	
	overflow-x: hidden;
	overflow-y: auto;
}

#detailsContent {
	display: flex;
	flex-wrap: wrap;
	
	width: 100%;
	height: 100%;
	
	margin: 0;
	
}

#movie-body {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	width: 100%;
	
	font-size: 15px;
}

#imgContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 300px;
	margin-top: 5px;
}

#detailsContent img {
	max-width: 100%;
	max-height: 100%;
	
	border-radius: 15px;
}

#movie-info {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin: 0;
}

#movie-details-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	/* height: 300px; */
}

#movie-title {
	width: 100%;
	margin-bottom: 0px;
	font-size: 35px;
	text-align: center;
}

#major-details {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* height: 300px; */
	
	font-size: 15px;
}

#major-details div, #major-details span {
	margin-right: 5px;
}

#rating {
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 20px;
	border: 1px solid #EAF2EF; /* AZURE (X11/web color) */
	padding: 2px;
	font-size: 15px;
}

#minor-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* height: 300px; */
}

.detail {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 33%;
	padding-top: 40px;
} /* Need to divide the viewport's width by 3 */

.detail h4 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 18px;
	text-decoration: underline;
}

.detail-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

.detail-list p {
	margin: 0;
	text-align: center;
}

#plotContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	/* height: 300px; */
	/* height: 100%; */
	
	/* scroll-snap-align: start; */
}

#plotContainer h4 {
	width: 375px;
	margin-top: 40px;
	margin-bottom: 5px;
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
}

#plotContainer p {
	text-align: center;
	margin: 0 10px;
}	
/* #movie-info p {
	width: 90%;
	padding: 0 10px;
	padding-bottom: 10px;
	font-size: 16px;

	overflow-x: hidden;
	overflow-y: auto;

	text-align: center;
} */

#movie-options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* height: 300px; */
	/* height: 20%; */

	/* background: #363946;   */
	/* GUNMETAL */
	color: #EAF2EF; /* AZURE (X11/web color) */
}

#addToList {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	margin-top: 20px;

}

#addToList button {
	width: 100%;
	height: 80%;
	
}

#movie-providers {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100%;
	

	/* overflow-x: auto;
	overflow-y: hidden; */
	
}

#movie-providers h7 {
	width: 100%;
	margin-top: 20px;
	/* margin-right: 20px;
	margin-left: 20px; */
	
	background: #8B8C89C0; /* MIDDLE GREY */
	
	font-size: 20px;
	text-align: center;
}

#movie-provider-list {
	width: 100%;
}

#movie-provider-list a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 80px;
	border-left: 0;
	border-right: 0;
}

.iconContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.iconContainer h4 {
	color: white;
	font-style: italic;
	font-weight: 400;
}

#movie-providers img {
	max-width: 100%;
	max-height: 100%;
	
	margin: 0;
	
	font-size: 20px;
	filter: brightness(500%);
}

@media only screen and (max-height: 420px) {
	
	#detailsSection {
		height: 80%;
	}
	
	#movie-providers img {
		font-size: 24px;
	}
	
	#movie-body {
		/* height: 70%; */
	}
	
	#movie-options {
		/* justify-content: center; */
		/* height: 30%; */
	}
	
	#addToList {
		/* height */
	}
	
	#movie-providers {
		/* max-height: 100%;
		min-height: 50%; */
	}
}

@media only screen and (min-width: 1100px) {
	#detailsSection {
		height: 80%;
	}
	
	#movie-body {
		display: flex;
		flex-direction: row;
		flex-wrap: none;
		align-items: center;
		width: 100%;
		/* height: 80%; */
		
		overflow-x: visible;
		overflow-y: visible;
	}
	
	#imgContainer {
		display: flex;
		justify-content: center;
		width: 30%;
		height: 90%;
		margin-top: 0;
	}
	
	#movie-info {
		display: flex;
		flex-direction: column;

		width: 70%;
		height: 100%;
		margin: 0;
	}
	
	#movie-title {
		font-size: 35px;
		text-align: left;
	}

	#major-details {
		display: flex;
		justify-content: flex-start;
		margin-left: 10px;
		font-size: 15px;
	}
	
	#minor-details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.detail {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		width: 100%;
		
		padding: 0;
	}
	
	.detail h4 {
		margin: 0;
		margin-right: 5px;
		font-size: 18px;
		text-decoration: underline;
	}

	.detail-list {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		
		width: 100%;
		margin-top: 1px;
		font-size: 18px;
	}

	.detail-list p {
		margin: 0;
		padding: 0;
		font-size: 18px;
	}
	
	/* no need to display empty elements */
	.detail-list p:empty {
	  display: none;
	}

	.detail-list p:not(:first-child):before {
	  content: ", ";
	}
	
	#plotContainer {
		align-items: start;
		overflow-x: hidden;
		overflow-y: auto;
	}

	#plotContainer h4 {
		width: 100%;
		margin-bottom: 0;
		text-align: left;
	}
	
	#plotContainer p {
		margin-left: 0;
		padding-top: 10px;
		padding-right: 10px;
		
		text-align: left;
		overflow-x: hidden;
		overflow-y: auto;	
	}
	
	#movie-options {
		flex-direction: row;
		justify-content: center;
		/* height: 20%; */
	}
	
	#addToList {
		display: flex;
		justify-content: center;
		width: 30%;
		height: 100%;
		margin: 0;
		margin-top: 30px;
	}
	
	#addToList button {
		width: 60%;
		height: 75%;
	}
	
	#movie-providers {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70%;
		height: 100%;
	}
	
	#movie-providers h7 {
		width: 90%;
		height: 30px;
		margin: 0;
		
		border-radius: 5px 5px 0 0;
		margin-right: 4px;
		
		background: #8B8C89C0; /* MIDDLE GREY */

		font-size: 20px;
		text-align: center;
	}
	
	#movie-provider-list {
		display: flex;
		flex-wrap: wrap;
		width: 90%;
		
		
		overflow-x: auto;
		overflow-y: hidden;
		
	}

	#movie-provider-list a {
		display: flex;
		align-items: center;
		width: 33%;
		height: 65px;
		margin: 0;
		padding: 0;
		border: 1px solid #8B8C89C0; /* MIDDLE GREY */
		border-radius: 0;
	}
}
